* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: rgba(18, 24, 41);
  backdrop-filter: blur(20px);
}

